.header{
  background-color: black;
  height: 100px;
  width: 810px;
  text-align: center;
}

.main{
  background-color: gray;
  height: 100%;
  width: 810px;
  display: flex;
}

.memo{
  background-color: white;
  height: 200px;
  width: 500px;
  border: 10px ;
  border-style: solid;
  border-color: gray;
  padding: 20px;
  font-size: 22px;
}

.delete{
  color: red;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: red;
}

.food{
  background-color: aqua;
  height: 240px;
  width: 240px;
  border: 10px;
  border-style: solid;
  border-color: gray;
}

.foods{
  height: 220px;
  width: 240px;
}

.footer{
  background-color: pink;
  height: 100px;
  width: 810px;
}